
  
  * {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


.footer {
  width: 100%;
      position: fixed;
    bottom: 0;
  z-index: 20;
}

.logo {
  width: 200px;

}

.texto1 {
  position:absolute;
  z-index: 2;
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.text-grey-100 {
  color: #EDF2F7; /* Cor cinza #100 */
}

.texto {
  font-size: 2rem;
}

.texto2 {
  font-size: 1.5rem;
}
.carousel {
  display: flex;
}
.logout {
  color: red;
}

#img1 {
  border-radius: 5%;
}

body {
  margin: 0; /* Remove as margens padrão do corpo */
  padding: 0; /* Remove o preenchimento padrão do corpo */
  background-image: url('./img/leafs_black2.png'); /* Define a imagem de fundo */
  background-size: cover; /* Garante que a imagem de fundo cubra toda a tela */
  background-attachment: fixed; /* Fixa a imagem de fundo */

}

.containerBox {
  width: 100%;
  min-height: 100vh;
}

.caixa1 {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;

}

.caixa2 {
/* From https://css.glass */
background: rgba(243, 235, 235, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);

  max-width: 100%;
  text-align: center;

}

.caixa3 {
  margin: 30px;

}

.news-item {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.news-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.news-overlay h4 {
  font-size: 14px;
  color: white;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


@keyframes changeColor {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: yellow;
  }
  100% {
    color: orange;
  }
}

.color1 {
  animation: changeColor 35s linear infinite;
}

@media (width >= 992px) {
  #header_footer_border1 {
    margin-left: 20%;
  }
  #header_footer_border2 {
    margin-right: 20%;
  }
  #dataclimabox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #databox1 {
    width: 600px;
  }
  #databox2 {
    margin: 58px;
  }
  #climabox1 {
    width: 315px;
  }
  #climabox3 {
    font-size: 110px;
  }
  #newsbox1 {
    width: 100%;
    height: 400px;
  }
}

@media (width < 992px) {
  #header_footer_border1 {
    margin-left: 0%;
  }
  #header_footer_border2 {
    margin-right: 0%;
  }
  #databox1 {
    width:100%;
  }
  #databox2 {
    margin: 20px;
  }
  #climabox1 {
    width: 100%;
  }
  #climabox2 {
    font-size: 20px;
  }
  #climabox3 {
    font-size: 50px;
  }
  #climabox4 {
    font-size: 15px;
  }
  #newsbox1 {
    width: 100%;
    height: 200px;
  }
}







